@font-face {
	font-family: damion-regular;
	src:	url(../font/damion-regular-webfont.woff2),
				url(../font/damion-regular-webfont.woff),
				url(../font/Damion-Regular.ttf);
	font-weight:	normal;
	font-style:	normal;
}
@font-face {
	font-family: lato-regular;
	src:	url(../font/lato-regular-webfont.woff2),
				url(../font/damion-regular-webfont.woff),
				url(../font/Lato-Regular.ttf);
	font-weight:	normal;
	font-style:	normal;
}

@font-face {
	font-family: lato-black;
	src:	url(../font/),
				url(../font/),
				url(../font/Lato-Black.ttf);
	font-weight:	normal;
	font-style:	normal;
}

@font-face {
	font-family: lato-light;
	src:	url(../font/),
				url(../font/),
				url(../font/Lato-Light.ttf);
	font-weight:	normal;
	font-style:	normal;
}

@font-face {
	font-family: lato-bold;
	src:	url(../font/),
				url(../font/),
				url(../font/Lato-Bold.ttf);
	font-weight:	bold;
	font-style:	normal;
}

a, a:hover, a:visited ,a:link ,a:active {
	text-decoration: none;
	color: white;
}

body {
	min-height: 400px;
	background: #82A25A url('../img/bg_ef_4f.png') no-repeat;	
	background-position: center top;
	background-size: cover;
}

.logo {
	color: white;
	font-family: damion-regular ,arial ,sans-serif;
	font-size: 4em;
}

div.col-lg-5>ul li {
	color: #E9E9E9;
	font-family: lato-regular ,arial ,sans-serif;
	font-size: 1.3em;
	display: inline-block;
	margin-right: 10px;
	padding-top: 35px;
	padding-bottom: 14px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	cursor: default;
	transition: 0.3s;
	width: 100px;
	text-align: center;
}

div.col-lg-5>ul li:nth-child(4) {
	background-color: #A2CA71;
}

div.col-lg-5>ul li:hover {
	background-color: #A2CA71;
}

.col-lg-8 h2 {
	margin-top: 110px;
	text-align: center;
	font-size: 60px;
	color: white;
	font-family: lato-light ,arial ,sans-serif;
	text-transform: uppercase;
}

.col-lg-8 p:last-of-type {
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
	color: white;
	font-family: lato-regular ,arial ,sans-serif;
	opacity: 0.8;
}

.nav_photo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 28px;
	height: 100px;
	max-width: 1218px;
	border-top: 1px solid #95B967;
	border-bottom: 1px solid #95B967;
}

.port {

	font-family: lato-bold ,arial ,sans-serif;
	color: white;
	font-size: 20px;
	margin-left: 18px;
	width: 200px;
	line-height: 100px;
	

}

.nav_photo>ul li {
	display: inline-block;
	color: white;
	font-family: lato-regular ,arial ,sans-serif;
	font-size: 18px;
	margin-right: 32px;
	transition: 0.2s;
	border: 1px solid rgba(255,255,255, 0);
}

.nav_photo>ul {
	margin-top: 28px;
	float: right;
}
.nav_photo>ul li:last-child {
	margin-right: 0;
}

.nav_photo>ul li a {
	height: 100%;
	display: block;
	padding: 8px;
}

.nav_photo>ul li:nth-of-type(2) {
	background-color: #F2C154;
	border-radius: 5px;
}

.nav_photo>ul li:hover {
	background-color: #F2C154;
	border-radius: 5px
}

.nav_photo>ul li:active {
	background-color: #F2C154;
	border-radius: 5px;
}

.plitka {
	height: 252px;
	width: 260px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-color: white;
	border-radius: 4px;	
	position: relative;
	padding-top: 220px;
	text-align: center;
	background-image: url('../img/img_effect.png');
	background-repeat: no-repeat;
	background-size: auto 210px;	
}

.plita2 {
	margin-top: 40px;
}

[id*="imgs"] {
	display: block;
	position: absolute;
	top: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-size: 10%;
	z-index: 1;
	opacity: 1;
	transition: 1s;
	cursor: pointer;
	-webkit-transform:scale(1);
	-webkit-transition-duration: 0.5s; 
}

.plitka p {
	font-family: lato-regular ,arial ,sans-serif;
	font-size: 14px;
	color: #727272;
	text-transform: uppercase;
}

.plitka p::before {
	content: '';
	border: 20px solid transparent;
	border-bottom: 20px solid white;
	position: absolute;
	left: 50%;
	margin-left: -20px;
  bottom: 43px;
  width: 0;
  z-index: 10;
  transition: 0.3s;
}
/*------------------zakrivalka----------------------*/
.trg {
	display: none;
	height: 210px;
	width: 260px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-color: red;
	border-radius: 4px;	
	position: absolute;
	z-index: 9;
	top: -10px;
	
}
/*----*/

.plitka:hover [id*="imgs"] {
	opacity: 1;
}

.plitka img:hover {
	-webkit-transform:scale(1.01); 
	-moz-transform:scale(1.01); 
	-o-transform:scale(1.01); 
	box-shadow:0px 0px 30px gray; 
	-webkit-box-shadow:0px 0px 30px gray; 
	-moz-box-shadow:0px 0px 30px gray; 
	z-index: 20;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.plitka img:active {
	-webkit-transform:scale(3);
	-moz-transform:scale(3);
	-o-transform:scale(3); 
	box-shadow:0px 0px 30px gray; 
	-webkit-box-shadow:0px 0px 30px gray; 
	-moz-box-shadow:0px 0px 30px gray; 
	z-index: 20;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.plitka img:active {
	-webkit-transform:scale(3); 
	-moz-transform:scale(3); 
	-o-transform:scale(3); 
	box-shadow:0px 0px 30px gray; 
	-webkit-box-shadow:0px 0px 30px gray; 
	-moz-box-shadow:0px 0px 30px gray;
	z-index: 20;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

body [class*="plita"]:last-of-type .plitka img:active {
	position: absolute;
	top: -220px;
	-webkit-transform:scale(3);
	-moz-transform:scale(3); 
	-o-transform:scale(3);
	box-shadow:0px 0px 30px gray;
	-webkit-box-shadow:0px 0px 30px gray;
	-moz-box-shadow:0px 0px 30px gray;
	z-index: 20;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	
}

.plitka [id*="imgs"]:hover + p::before {
	content: '';
	border: 20px solid transparent;
	border-bottom: 20px solid white;
	position: absolute;
	left: 50%;
	margin-left: -20px;
  bottom: 43px;
  width: 0;
  opacity: 0;	
}

body [class*="plita"]:last-of-type {
	margin-bottom: 50px;
}






















/*.plitka::before  {
	content: '';
	background-image: url('../img/ring.png');
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 71px;
	left: 100px;
	opacity: 0;
	transition: 1.1s;
}
.plitka::after	{
	content: '+';
	font-family: lato-light ,arial ,sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	color: white;
	position: absolute;
	top: 60px;
	left: 115px;
	transition: 1.2s;
	opacity: 0;
}



.plitka:hover::before  {
	content: '';
	background-image: url('../img/ring.png');
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 71px;
	left: 100px;
	opacity: 1;
}
.plitka:hover::after{
	content: '+';
	font-family: lato-light ,arial ,sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	color: white;
	position: absolute;
	top: 60px;
	left: 115px;
	opacity: 1.1;
}

